:root {
	--color-red: #ac1c1a;
	--color-black: #000;
	--color-black-transparent: rgba(0, 0, 0, 0.65);
	--color-transparent: transparent;
	--color-white: #fff;
	--color-white-transparent: hsla(0, 0%, 100%, 0.9);
	--color-grey: #666;
	--color-grey-dark: #333;
	--color-grey-light: #d8d8d8;
	--color-grey-light-warm: #f8f6f6;
	--color-grey-light-extra: #f5f5f5;
	--gutter-width: 3.4rem;
	--margin-text: 3.3rem;
	--site-max-width: 192rem;
	--page-max-width: 98.4rem;
	--page-max-width-indent: 80.4rem
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	margin-left: auto;
	margin-right: auto;
	max-width: 192rem;
	max-width: var(--site-max-width)
}

html:after,
html:before {
	content: "";
	display: table
}

html:after {
	clear: both
}

@media screen and (max-width:1000px) {
	html {
		font-size: 1vw
	}
}

@media screen and (max-width:640px) {
	html {
		font-size: 1.625vw
	}
}

* {
	box-sizing: inherit
}

body {
	background-color: #000;
	background-color: var(--color-black);
	font-size: 1.6rem
}

* {
	font-family: roboto, sans-serif
}

a {
	color: #ac1c1a;
	color: var(--color-red);
	text-decoration: none
}

span {
	color: #ac1c1a;
	color: var(--color-red)
}

@font-face {
	font-family: roboto;
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url(assets/fonts/roboto-bold.woff2) format("woff2"), url(assets/fonts/roboto-bold.woff) format("woff"), url(assets/fonts/Roboto-Bold.ttf) format("truetype")
}

@font-face {
	font-family: roboto;
	font-style: italic;
	font-weight: 700;
	src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url(assets/fonts/roboto-bolditalic.woff2) format("woff2"), url(assets/fonts/roboto-bolditalic.woff) format("woff"), url(assets/fonts/Roboto-BoldItalic.ttf) format("truetype")
}

@font-face {
	font-family: roboto;
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url(assets/fonts/roboto-regular.woff2) format("woff2"), url(assets/fonts/roboto-regular.woff) format("woff"), url(assets/fonts/Roboto-Regular.ttf) format("truetype")
}

@font-face {
	font-family: roboto;
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url(assets/fonts/roboto-regularitalic.woff2) format("woff2"), url(assets/fonts/roboto-regularitalic.woff) format("woff"), url(assets/fonts/Roboto-RegularItalic.ttf) format("truetype")
}

@font-face {
	font-family: roboto;
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url(assets/fonts/roboto-light.woff2) format("woff2"), url(assets/fonts/roboto-light.woff) format("woff"), url(assets/fonts/Roboto-Light.ttf) format("truetype")
}

@font-face {
	font-family: roboto;
	font-style: italic;
	font-weight: 300;
	src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url(assets/fonts/roboto-lightitalic.woff2) format("woff2"), url(assets/fonts/roboto-lightitalic.woff) format("woff"), url(assets/fonts/Roboto-LightItalic.ttf) format("truetype")
}

@font-face {
	font-family: icomoon;
	font-style: normal;
	font-weight: 400;
	src: url(assets/fonts/icomoon.ttf?qcczkl) format("truetype"), url(assets/fonts/icomoon.woff?qcczkl) format("woff"), url(assets/fonts/icomoon.svg?qcczkl#icomoon) format("svg")
}

.f-content {
	background-color: #fff;
	background-color: var(--color-white);
	border-radius: .3rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 98.4rem;
	max-width: var(--page-max-width);
	padding: 0 3.4rem;
	padding: 0 var(--gutter-width)
}

.f-content:after,
.f-content:before {
	content: "";
	display: table
}

.f-content:after {
	clear: both
}

.f-huge-heading {
	font-size: 6.6rem;
	margin: 11.8rem 0;
	text-align: center
}

.f-info-card_number {
	color: #ac1c1a;
	color: var(--color-red);
	display: inline;
	font-size: 7.9rem;
	font-weight: 700;
	line-height: 7rem
}

.f-info-card_heading {
	color: #000;
	color: var(--color-black);
	display: inline;
	font-size: 3rem;
	font-weight: 700;
	margin-left: 2.4rem
}

.f-info-card_line {
	border-top-color: #d8d8d8;
	border-top-color: var(--color-grey-light);
	border-width: 2px 0 0;
	margin-top: 7px
}

.f-info-card_text {
	color: #333;
	color: var(--color-grey-dark);
	font-size: 2rem;
	font-weight: lighter;
	line-height: 2.4rem;
	margin-bottom: 2.7rem;
	position: relative;
	top: -1.6rem
}

body {
	margin: 0
}

input {
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	box-sizing: border-box;
	height: 60%;
	margin: 1rem 1rem 1rem 0;
	outline-color: #d8d8d8;
	outline-color: var(--color-grey-light);
	padding: 10px 12px;
	transition: box-shadow .15s ease;
	width: 100%
}

input:focus {
	box-shadow: 0 1px 3px 0 #cfd7df
}

.f-text-input {
	font-size: 1.4rem;
	line-height: 2rem
}

.f-text-input__label {
	color: #333;
	color: var(--color-grey-dark);
	display: block;
	line-height: 1.8;
	margin-left: .2rem;
	position: relative
}

.f-text-input__text-field {
	display: block;
	padding: .5rem;
	width: 122%
}

.f-text-input__text-field::-moz-placeholder {
	padding-left: .5rem
}

.f-text-input__text-field::placeholder {
	padding-left: .5rem
}

.f-text-input__text-field {
	border: 1px solid #000;
	border: 1px solid var(--color-black);
	border-radius: .3rem;
	margin: 0 0 2rem .1rem;
	resize: vertical;
	width: 100%
}

@media (max-width:640px) {
	.f-text-input {
		font-size: 2.4rem
	}
}

.f-thumbnail {
	background-color: #fff;
	background-color: var(--color-white);
	border-radius: .5rem;
	border-style: solid;
	border-width: 1px;
	margin: 0 0 3rem;
	min-height: 50.3rem;
	min-width: 28rem
}

.f-thumbnail__image {
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
	cursor: pointer;
	filter: grayscale(100%);
	height: 22rem;
	margin: 0 0 2rem;
	object-fit: cover;
	object-position: 50% 50%;
	width: 100%
}

.f-thumbnail__image:hover {
	filter: grayscale(0);
	transition: .3s ease-in-out
}

.f-thumbnail__info {
	margin: 0 3.4rem .76rem 0
}

.f-thumbnail__content {
	height: 18rem;
	margin-bottom: 1rem;
	padding-left: 3.4rem;
	padding-left: var(--gutter-width)
}

.f-thumbnail__heading {
	background-color: #000;
	background-color: var(--color-black);
	color: #fff;
	color: var(--color-white);
	display: inline-flex;
	font-size: 1.8rem;
	font-weight: lighter;
	margin: 0 0 .4rem -3.4rem;
	margin: 0 0 .4rem calc(var(--gutter-width)*-1);
	padding: .68rem 1rem .86rem 3.4rem;
	padding: .68rem 1rem .86rem var(--gutter-width)
}

.f-thumbnail__text {
	color: #666;
	color: var(--color-grey);
	display: block;
	font-size: 1.4rem;
	font-weight: lighter;
	line-height: 1.7rem;
	margin: 0 0 1rem;
	overflow: hidden
}

.f-thumbnail__conclusion {
	font-weight: lighter;
	text-align: right
}

.f-thumbnail__progress {
	margin: 3.4rem 0 0 3.4rem
}

.f-thumbnail__progress__bar,
.f-thumbnail__progress__value {
	border-radius: 1rem;
	height: .8rem
}

.f-thumbnail__progress__bar {
	background-color: #666;
	background-color: var(--color-grey);
	margin-bottom: .5rem
}

.f-thumbnail__progress__value {
	background-color: #ac1c1a;
	background-color: var(--color-red);
	max-width: 100%;
	transition: width 1s ease .26s;
	will-change: width
}

.f-thumbnail__progress__data {
	display: flex;
	flex-direction: row;
	font-size: 1rem;
	justify-content: space-between;
	padding-bottom: 1.6rem;
	white-space: nowrap
}

.f-thumbnail__progress__data-element {
	color: #666;
	color: var(--color-grey);
	font-weight: 400;
	line-height: 2.2rem;
	margin: 0
}

.f-thumbnail__progress__data-element span {
	color: #333;
	color: var(--color-grey-dark);
	font-weight: 700
}

@media (max-width:640px) {
	.f-thumbnail {
		border-color: #d8d8d8;
		border-color: var(--color-grey-light);
		border-left-style: none;
		border-radius: 0;
		border-right-style: none;
		border-top-style: none;
		filter: none;
		font-size: 2.2rem;
		line-height: 2.3rem;
		margin-bottom: 10rem
	}

	.f-thumbnail__conclusion {
		color: #666;
		color: var(--color-grey);
		font-size: 4.2rem
	}

	.f-thumbnail__image {
		filter: none;
		height: 35rem
	}

	.f-thumbnail__text {
		color: #333;
		color: var(--color-grey-dark);
		font-size: 2.4rem;
		font-weight: 300;
		line-height: 3.4rem;
		margin-top: 1rem
	}

	.f-thumbnail__content {
		height: auto
	}

	.f-thumbnail__progress__data {
		font-size: 2.35rem;
		margin-top: 2rem
	}

	.f-thumbnail__progress__data-element span {
		font-weight: 500
	}

	.f-thumbnail__heading {
		font-size: 4.4rem;
		line-height: 5rem;
		padding: 1.36rem 2rem 1.12rem 3.4rem
	}
}